@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


html {
  scroll-behavior: smooth;
}


body {
  color: white;
 -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #18181E;
  padding-left: 10vw;
  padding-right: 40vw;
}

body:hover {
  cursor: default;
}

p {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
}

.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  filter: invert(0.5);
  transition: 0.3s;
}

.up:hover {
  cursor: pointer;
  filter: invert(1);
}

.one {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  filter: invert(0.5);
  transition: 0.3s;
}

.two {
  position: fixed;
  top: 70px;
  right: 10px;
  width: 50px;
  filter: invert(0.5);
  transition: 0.3s;
}

.three {
  position: fixed;
  top: 130px;
  right: 10px;
  width: 50px;
  filter: invert(0.5);
  transition: 0.3s;
}

.four {
  position: fixed;
  top: 190px;
  right: 10px;
  width: 50px;
  filter: invert(0.5);
  transition: 0.3s;
}

.one:hover {
  cursor: pointer;
  filter: invert(1);
}

.two:hover {
  cursor: pointer;
  filter: invert(1);
}

.three:hover {
  cursor: pointer;
  filter: invert(1);
}

.four:hover {
  cursor: pointer;
  filter: invert(1);
}


section {
  height: 100vh;
  width: 100%;
  display: table;
  font-weight: 300;
}

.vertmid {
  display: table-cell;
  vertical-align: middle;
}

h2 {
  font-family: "Playfair Display";
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #d3b57b;
  text-decoration-color: #d3b57b;
  transition: 0.3s;
}

a:hover {
  color: #fff;
  text-decoration-color: #fff;
}

li {
  font-family: 'Source Code Pro', monospace;
}

hr {
  width: 75px;
  margin-left: 0;
  height: 2px;
  background-color: #d3b57b;
  border: none;
}
body::-webkit-scrollbar {
    display: none;
}

button {
  padding: 1vw;
  border: 2px solid #d3b57b;
  background-color: transparent;
  font-family: 'Source Code Pro', monospace;
  transition: 0.3s;
  color: white;
  font-weight: 400;
}

button:hover {
  background-color: #d3b57b;
  color: black;
  cursor: pointer;
}

button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.sub {
  padding: 1vw;
  border: 2px solid #d3b57b;
  background-color: transparent;
  font-family: 'Source Code Pro', monospace;
  transition: 0.3s;
  color: white;
  font-weight: 400;
}

.sub:hover {
  background-color: #d3b57b;
  color: black;
  cursor: pointer;
}

.sub:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.box {
  padding: 5px;
  font-family: "Source Code Pro", monospace;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  width: 300px;
}

.box:focus{
  outline: -webkit-focus-ring-color none;
}

::selection {
  background-color: transparent;
}


em {
  font-style: normal;
  color: #d3b57b;
}

#home section {
  margin-top: 15vh;
  margin-bottom: 15vh;
  height: auto;
}

#toppest {
  margin-top: 0vh !important;
  margin-bottom: 0vh !important;
  height: 100vh !important;
}

.som {
  visibility: hidden;
}

@media (max-width: 800px) {
  body {
    padding-right: 20vw;
  }
}

@media (pointer: coarse) {
  body {
    padding-right: 15vw;
  }
  h3, p, .box {
    font-size: 40px;
  }
  hr {
    width: 200px;
  }
  h2 {
    font-size: 80px;
  }
  button {
    font-size: 35px;
    padding: 30px;
  }
  .up, .one, .two, .three {
    width: 100px;
  }
  li {
    font-size: 40px;
  }
  .hom {
    visibility: hidden;
  }
  .som {
    visibility: visible;
  }
  section {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
  }
  #home section {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
  }
  #toppest {
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    height: auto !important;
  }
  .one {
    top: 80px;
  }
  .two {
    top: 80px;
  }
  .three {
    top: 210px;
  }

}
